.chart-container {
    position: relative;
    margin-top: 30px;
    height: 600px;
    width: 800%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid #b9b8b8;
    background-color: rgb(255, 255, 255);
}

.bottom-div{
    background-color: rgba(255, 255, 255, 0.075);
    //border: 5px solid #ccc;
    border-radius: 20px;
    width: 70%;
    height: 0px;
    margin-top: 30px;
}

.card-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.075);
    border: 5px solid #ccc;
    border-radius: 20px;
    width: 70%;
    height: 20px;
    margin-top: 30px;
}