.chart-container {
    height: 70vh;
    width: 90vw;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    background-color: #f5f7f9;
    border-radius: 10px;
    margin-bottom: 30px;
}

.scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

canvas {
    height: 90% !important;
    border: 1px solid #fcf9f1;
    border-radius: 10px;
    background-color: #f5f7f9;
}

.chart-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.scroll-wrapper::-webkit-scrollbar {
    height: 15px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background: #3fa1f7;
    border-radius: 5px;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #37c6ff;
}