.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.custom-table th {
    background-color: #f3f3f3;
}